.textEl {
    display: flex;
margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.active {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 2vh;
    width: max-content;
    line-height: 200%
}

.active:disabled {
    background: transparent;
    color: #AFAFAF
}

.active:hover {
    background: #E0E0E0;
}

.activeNow {
    outline: none;
    border: none;
    border-radius: 2px;
    background: #CFE5FF;
    color: #527AAA;
    font-weight: bold;
    font-size: 2vh;
    width: max-content;
    line-height: 200%
}